@tailwind base;
@tailwind components;
@tailwind utilities;

.heart-container {
    position: relative;
    z-index: 1;
};
  .map {
    @media (min-width:1024px) {
      max-width: 100%;
    }
}
.swiper-button-white {
  color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.hovered-input {
  transition-duration: 5s;
  opacity: 1;
  transition-timing-function: ease-in-out;
}