@tailwind base;
@tailwind components;
@tailwind utilities;

.heart-container {
    position: relative;
    z-index: 1;
} 

.heart {
    position: absolute;
    z-index: auto;
    left: 0px;
    bottom: 0px;
    width: 15px; 
    height: 25px;
    background: transparent;
    box-shadow: -1px 1px 3px #ab8c77;
  /* Скругляем верхние углы */    
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
  /* Определяем угол наклона */    
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  /* Формируем правую часть */
  .heart:before {
    position: absolute;
    width: 25px;
    height: 15px;
    left: 0;
    bottom: 0;
    content: "";
    background: transparent;
    box-shadow: 0px 1px 3px #ab8c77; 
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 0 50px 50px 0;
  }