@tailwind base;
@tailwind components;
@tailwind utilities;

.heart-container {
    position: relative;
    z-index: 1;
};
  .map-section__map {
    @media (min-width:1024px) {
      max-width: 100%;
    }
}